# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
# VS code converts typescript to js and throws these stupid artifacts in
lambda/src/*.js*

# production
build
dist

# misc
.DS_Store
.env
npm-debug.log
.idea
lambda.zip
